*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    header{

        img{
            height: 20vw;
            width: 100vw;
            object-fit: cover;
            // object-position: 0px 50px 0px 50px; 
        }
    }
    h2{
        color: white;
    }

    section{
        margin-top: 10px;
        max-width: 650px;
        background-color: blue;
        width: 85%;
        background: #716f71;
        padding: 1rem;
        border-radius: 4px;
        box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        article{
            border: black solid 3px;

            img{
                max-width: 100px;
                opacity: 0%;

            }

        }
        .clicked{
            opacity: 100%;
        }

    }
}